@font-face {
    font-family: '華康粗圓體';
    src: url(../font/華康粗圓體.ttc);
  }
body{
    background-color: white;
    font-family: '華康粗圓體';
    line-height: 40px;
    letter-spacing: 5px;
}

.bg, .start{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    position: absolute;
    z-index: -1;
}
.start{
    padding-top: 550px;
    z-index: 1;
}
.submit{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    /* border: 5px solid #ff0004; */
}
.Que{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    position: absolute;
    font-size: 32px;
    color: rgb(255, 184, 143);
    z-index: -1;
}
.Ans{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    position: absolute;
    font-size: 34px;
    color: black;
    padding-top: 430px;
    z-index: 2;
}
.space1{
    width: 200px;
}
.space2{
    width: 500px;
    margin-top: 90px;
}
.options{
    width: 500px;
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
}

input[type="radio"], input[type="submit"]{
    visibility: hidden;
    z-index: 3;
    position: absolute;
}
label{
    cursor: pointer;
}
span{
    margin-left: 70px;
}
input[type="radio"]::before{
	content: '';
	top: 0;
    left: 0;
	z-index: 3;
	display: block;
	width: 30px;
	height: 30px;
	background-color: rgb(255, 255, 255);
    border: 5px solid rgb(71, 71, 71);
    border-radius: 50%;
	transition: all .2s ease-in-out;
    visibility: visible;
    cursor: pointer;
}
input[type="radio"]:checked::before {
	width: 30px;
    height: 30px;
    background-color: rgb(71, 71, 71);
	visibility: visible;
}
input[type="radio"]:checked::after {
	visibility: visible;
}